<%- contentFor('title') %>
MYVTMI.IM - Vouchers

<%- contentFor('header') %>
<script src='https://www.google.com/recaptcha/api.js'></script>
<style>
.g-recaptcha {
    display: inline-block;
}
input {
    margin-bottom: 6px;
    margin-top: 6px;
}
.custom-control-label {
    margin-left:5px;
}
label {
    font-weight: bold;
    margin:0;
    padding:0;
    font-size: 12px;
}
h6 {
    margin-top:1em;
    margin-bottom:0;
}
</style>


<%- contentFor('body') %>
<form class="form-signin">
    <div class="row">
        <div class="col-12 offset-md-3 col-md-6 text-center">                                    
            <h2 class="form-signin-heading">
                <% if(voucher != null && voucher.header_title != null && voucher.header_title.length > 0) { %>
                    <%= voucher.header_title %>
                <% } else { %>
                    Agende sua semana de aula grátis
                <% }; %>
            </h2>
            <% if(voucher != null && voucher.header_text != null 
                    && voucher.formatted_text != null 
                    && voucher.formatted_text.length > 0) { %>

                <div style="text-align:left"><%-voucher.formatted_text %></div>

            <% }; %>

            <label for="inputEmail" class="sr-only">Nome Completo</label>
            <input type="text" id="inputName" class="form-control" placeholder="Nome Completo" required autofocus maxlength="200" />            
            <div class="row">
                <div class="col-6">                    
                    <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" required maxlength="100"/>
                </div>
                <div class="col-6">
                    <input type="phone" id="inputPhone" class="form-control" placeholder="Telefone" required />
                </div>
            </div>
            <input type="text" id="inputSocialLinks" class="form-control" placeholder="Facebook/Instagram" required maxlength="100" />

            <h6>Preferências de Agendamento</h6>
            <div class="row">
                <div class="col-12 text-left">
                    <label for="inputUnit">Núcleo</label>
                    <select 
                        onchange="changeBranch(this.value)"
                        style="width:100%" 
                        class="form-control" id="inputUnit" required>
                        <option> Selecione a unidade preferencial</option>
                        <% voucher_data.branches.forEach(function(branch) { %>                                
                            <option value="<%= branch.id %>"><%= branch.name %></option>                                                            
                        <% }); %>                        
                    </select>
                </div>
                <div class="col-12 text-left" id="schedule">
                    <label for="inputUnit">Horário</label>
                    <select style="width:100%" class="form-control" id="inputSchedule" required>
                        <option>Selecione o horário preferencial</option>
                    </select>
                </div>
            </div>                                            
            <% if(voucher != null && voucher.additional_question != null 
                    && voucher.additional_question.length > 0) { %>

                <h6><%-voucher.additional_question %>  </h6>                
                <div class="row">
                    <div class="col-12 text-left">
                        <input type="text" id="inputAdditionalAnswer" class="form-control" placeholder="" required maxlength="400" />
                    </div>
                </div>
            <% }; %>
        </div>        
    </div>
    <div class="row">
        <div class="col-12 offset-md-3 col-md-6 text-center"  style="margin-top:20px;">
            <%-captcha %>            
        </div>
    </div>
    <div id="ErrorContainer" style="margin-top:20px;display:none">        
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{:message}}
        </div>
    </div>
    <div class="row">
        <div class="offset-md-3 col-6 text-center d-none d-md-block " style="margin-top:20px;margin-bottom:20px">
            <button class="btn btn-lg btn-primary btn-block"                 
                id="submitField" type="button">
                <% if(voucher != null && voucher.confirm_button_text != null && voucher.confirm_button_text.length > 0) { %>
                    <%= voucher.confirm_button_text %>
                <% } else { %>
                    Iniciar minha semana grátis!
                <% }; %>
            </button>

            <button class="btn btn-lg btn-info btn-block" 
                id="sendingButton" type="button" disabled style="display:none"
            >
            <i class="fas fa-spinner fa-spin fa-lg"></i> Enviando...
            </button>  
        </div>
        <div class="col-12 text-center d-block d-md-none " style="margin-top:20px;margin-bottom:20px">
            <button class="btn btn-lg btn-primary btn-block"
                id="submitFieldMobile" type="button">
                
                <% if(voucher != null && voucher.confirm_button_text != null && voucher.confirm_button_text.length > 0) { %>
                    <%= voucher.confirm_button_text %>
                <% } else { %>
                    Iniciar minha semana grátis!
                <% }; %>
            </button>

            <button class="btn btn-lg btn-info btn-block" 
                id="sendingButtonMobile" type="button" disabled style="display:none"
            >
            <i class="fas fa-spinner fa-spin fa-lg"></i> Enviando...
            </button>                             
        </div>
    </div>
    <div class="alert alert-success alert-dismissible" id="successMessage" style="display:none">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Obrigado! Em breve entraremos em contato para confirmar seu agendamento e iniciar sua semana de aulas.
    </div>
    
    <input type="hidden" id="inputVoucher" value="<%- voucher_id %>" />

    <script id="errorTemplate" type="text/x-jsrender">
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{:message}}
        </div>
    </script>

    <input type="hidden" id="inputQuestion" value="<%- voucher.additional_question %>" />    
</form>

<%- contentFor('footer') %>
<script src="/js/voucher.js?v=1"></script>

<script>
    loadViewData(<%-data %>);    
</script>
