<%- contentFor('title') %>
MYVTMI.IM - Vouchers

<%- contentFor('header') %>
<script src='https://www.google.com/recaptcha/api.js'></script>
<link rel="stylesheet" type="text/css" href="/styles/vouchers.css">


<%- contentFor('body') %>
<form class="form-signin">
    <div class="row">
        <div class="col-12 offset-md-3 col-md-6 text-center">
            <div style="text-align:left">
                <% if(voucher != null && voucher.final_text != null
                        && voucher.formatted_final_text != null
                        && voucher.formatted_final_text.length > 0) { %>

                    <%-voucher.formatted_final_text %>

                <% } else { %>
                    <p style="font-weight:bold">Obrigado!</p>

                    Em breve entraremos em contato para confirmar seu agendamento e iniciar sua semana de aulas.
                <% } %>
            </div>
        </div>
    </div>
</form>

<%- contentFor('branches_footer_list') %>
<ul>
    <% voucher_data.branches
    .filter((b) => {
        return voucher_data.branch_vouchers.find(bv => bv.voucher_id == voucher_id && bv.branch_id == b.id) != null;
    })
    .forEach(function(branch) { %>
        <li style="width: <%= Math.floor(100/voucher_data.branches.length) %>%">
            <b><%= ( branch.abrev || "").replace("Núcleo ", "") %></b>
        </li>
    <% }); %>
</ul>

<%- contentFor('footer') %>
<script>

</script>
